<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/resources/base.css">
    <link rel="stylesheet" href="/resources/default.css">

  <style>
    .container {
      position: absolute;
      bottom: 0;
      right: 10%;
    }

    .center {
      padding-top: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  </head>


<body>
{{template "headerblock" .}}

        <form action="/im/search/" method = "Post" class="center">
          <input type="text" name="query">&ensp;
          <select name="board">
              <option value="">All Boards</option>{{$Descs := .HeaderDescs}}
              {{range $index, $name := .Header}}
               <option value="{{$name}}">/{{$name}}/ - {{index $Descs $index}}</option>{{end}}
          </select>&ensp;
          <input type="submit" value="Search">
        </form>

<div class="container">
    <div style="text-align: left;">
<pre class="shift_jis">
　 　　　　　　　　　　　　　　　　　　　　　＿＿
　　　　　　　　　　　　　　　　　　,　:. ':.´:. :. :. :. `:. ヽ..､
　　　　　　　　　　　　　　　　 ／:. :. :. :. :. :.ヽ:. :. :. :. :. :.ヽ
　　　　　　　　　　　　　　　／:. :.i:. :. :. :. :. :. ヽ:. :. :. :l:. :. :.＼
　　　　　　　　　　　　　　/:. :. :. :|､:. ＼:._::_:_:_:ヽ:. :. :.l:. :. :. :. ヽ
　　　　　　　　　　　　　 /:. l:. l:. :| ヽ ヾ´＼_:_:`l:. :. :.:|:.,:.,:.:., :. :.ヽ
　　　　　　　　　　　　　/:. :.l:. l,:ｒl‐　ヾヽ´ lj:;;:`ト:. :. l､:. :. :l ´`´`
　　　　　　　　　　　　 /:.／l:.´l:lｲｊ:ヽ　ヾ　l_::::ｿl:. :. :l　l:. :. l
　　　　　　　　　　　　 '　　 l:. :lﾊ l:::」 　　　:::::: |:. :. l /:. :. :.l
　一緒に食べる？＞　　　l:. lﾊ ::::　' 　　　　 |:. :. l:. :. :. :. l
　　　　　　　　　　　　　　　 |:. |:.ゝ　／' 　　　 |:. :. l:. :. :. :. :l
　　　　　　　　　　　　　　　 |:. |:. ／':＞ - 7　 l:. :./:. :. :. :. :.l
　　　　　　　　　　　　　　　 |:.／'/ヽ_:,-,-‐'　 /. /＼:. :. :. :. l
　　　　　　　　　　　　　　　rf/r 7､´ //　` ´/:.:/　　ヽ:. :. :. :l
　　　　　　　r仂刋z・@ ／l´l　/ l l//　　　 /:./＿＿ l:. :. :. :.l
　　　　 乍卅匁斥丱升`´ l 　　　 l/＿＿_/／r ―‐ヽ:. :. :. :.l
　　　　　l￣ｒ ー ― ､￣l　ヽ　　 /　 卯　　/´　　 / l l:. :. :. :.l
　　　　　ｒ - ニ=‐　　ヽ'､　/　　/{....:::|:|::..../　　　/ 　l l:. :. :. :.:l
　　　　　 `＝= ＿＿ 　　 ` 　 //:::::::|::|::/　　　/:＼/ｲ:. :. :. :. :l
　　　　　　　　　　　　`　､ 　　　` 　　､/ 　　 /::::::::/:. :. :. :. :. :. l
　　　　　　　　　　　　 /　 `　, ､　　　　　　 /::;;:::::/:. :. :. :. :. :. :. l
　　　　　　　　　　　　 ヽ _　ｲ /`::　 ､　　 /::::::;;::/:. :. :. :. :. :. :. :. l
　　　　　　　　　　　　　　　　/ ;: ::::::::::`::::':　::::::::ヽ:. :. i:. :. :. :. :. :. l
</pre>
</div></div>


</body>
</html>
