body {
    background-color: #fff5ee;
    color: #171412;
}

a, summary {
    color: #b95754;
}

subject {
    color: #8b352d;
}

textarea {
    border: solid 1px rgb(246, 195, 171);
}

textarea:focus {
    border: solid 1px rgb(237, 169, 150);
}

quo {
    color: #6f9940;
}

spoil {
  color: black;
  background-color: black;
}

spoil:hover {
  color: inherit;
  background-color: inherit;
}

hr {
    border-top: 1px solid rgb(121, 85, 68);
}

.post:target, .ogdc {
    background-color: rgb(209, 200, 236);
}

.prev {
    border-color: #f6aa8c;
}

.post, .prev {
    background-color: #fbceb1;
}

selfref a, .reply a {
    color: #a13d2d;
}

selfref a:hover {
    color: rgb(139, 130, 166);
}

.catalog td {
    border: 2px dotted #913228;
}

.sage time {
    color: rgb(121, 85, 68);
}

.bannerimg {
    border: 1px solid rgb(220, 184, 173);
}
